@media(max-width:1040px){

input[type="search"]{
  width: calc(70% - 120px);


}
}


@media(min-width:768px){

#overlay img {
	width: 50%;
	/*margin-top: 28%;*/
}
.arrows{
  top: 40%;
}
.leftArrow{
margin-left: -25%;
}
.rightArrow{
  margin-right: -25%;
}
input[type="search"]{
  width: calc(70% - 120px);

}


}
/*iPhone 6 Plus*/
@media (max-width:414px){
  input[type="search"]{
    width: calc(70% - 80px);
  }
}
/*iPhone 6*/
@media (max-width: 375px){
  .arrows{
    top: 28%;
  }
}
@media(min-width:360px){
	#overlay img {
	width:70%;
  margin-top: 48%;
}
.arrows{
  top: 28%;
}
.leftArrow{
  height: 50px;
  width: 50px;
}
.rightArrow{
  height: 50px;
  width: 50px;
}

#closeLightbox{
  margin-right: -15%;
}

#imageGallery .layout {
	padding: 5px;
	margin: 3px;
}
.galleryDiv{
  padding-top: 100px;

}
input[type="search"]{
  width: calc(40% + 65px);
}

#overlay p{
  width: 70%;
}
}
@media(min-width: 320px){
  /*#rightArrow {
	margin-top: -129px;
	margin-left: 68%;
}*/
#overlay img{
  /*margin-top: 53%;*/
}
.arrows{
  top: 43%;
}
.leftArrow{
  height: 45px;
  width: 45px;
}
.rightArrow{
  height: 45px;
  width: 45px;
}
}
